@font-face {
  font-family: "AGaramondPro-Bold";
  src: url('assets/font/AGaramondPro-Bold.eot'); /* IE9+ Compat Modes */
  src: url('assets/font/AGaramondPro-Bold.woff2') format('woff2'), /* Super modern browsers */
       url('assets/font/AGaramondPro-Bold.woff') format('woff'), /* Modern browsers */
       url('assets/font/AGaramondPro-Bold.svg#svgFontName') format('svg'), /* Modern browsers */
       url('assets/font/AGaramondPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/font/AGaramondPro-Bold.otf')  format('OpenType'); /* Something */
}
@font-face {
  font-family: "AGaramondPro-Italic";
  src: url('assets/font/AGaramondPro-Italic.eot'); /* IE9+ Compat Modes */
  src: url('assets/font/AGaramondPro-Italic.woff2') format('woff2'), /* Super modern browsers */
       url('assets/font/AGaramondPro-Italic.woff') format('woff'), /* Modern browsers */
       url('assets/font/AGaramondPro-Italic.svg#svgFontName') format('svg'), /* Modern browsers */
       url('assets/font/AGaramondPro-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/font/AGaramondPro-Italic.otf')  format('OpenType'); /* Something */
}
@font-face {
  font-family: "AGaramondPro-Regular";
  src: url('assets/font/AGaramondPro-Regular.eot'); /* IE9+ Compat Modes */
  src: url('assets/font/AGaramondPro-Regular.woff2') format('woff2'), /* Super modern browsers */
       url('assets/font/AGaramondPro-Regular.woff') format('woff'), /* Modern browsers */
       url('assets/font/AGaramondPro-Regular.svg#svgFontName') format('svg'), /* Modern browsers */
       url('assets/font/AGaramondPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/font/AGaramondPro-Regular.otf')  format('OpenType'); /* Something */
}
@font-face {
  font-family: "HarmoniaSansProCyr-SemiBd";
  src: url('assets/font/HarmoniaSansProCyr-SemiBd.eot'); /* IE9+ Compat Modes */
  src: url('assets/font/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'), /* Super modern browsers */
       url('assets/font/HarmoniaSansProCyr-SemiBd.woff') format('woff'), /* Modern browsers */
       url('assets/font/HarmoniaSansProCyr-SemiBd.svg#svgFontName') format('svg'), /* Modern browsers */
       url('assets/font/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/font/HarmoniaSansProCyr-SemiBd.otf')  format('OpenType'); /* Something */
}
@font-face {
  font-family: "CamingoCode-Regular";
  src: url('assets/font/CamingoCode-Regular.eot'); /* IE9+ Compat Modes */
  src: url('assets/font/CamingoCode-Regular.woff') format('woff'), /* Modern browsers */
       url('assets/font/CamingoCode-Regular.svg#svgFontName') format('svg'), /* Modern browsers */
       url('assets/font/CamingoCode-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
